<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/c6d943c8a3.js" crossorigin="anonymous"></script>  
    {% block head %}

    {% endblock %}
</head>
<body>
    <header>
        <i class="fa-solid fa-list"></i>
        <nav class="autenticar">
            {% if user == None %}
            <a href="/autenticar?q=login">Logar</a>
            <a href="/autenticar?q=cadastrar">Cadastrar</a>
            {% else %}
            <a href="/logout">Sair</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="messages" class="list-unstyled">
            {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block main %}

        {% endblock %}
    </main>
    <footer>
        <p>Desenvolvido por <a href="https://github.com/joaogabgr" target="_blank">João Gabriel</a></p>
    </footer>
</body>
</html>