{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/index.css">
<script>
    function ajustarTamanho(textarea) {
    textarea.style.height = 'auto';
    textarea.style.height = textarea.scrollHeight + 'px';
  }
</script>
{% endblock %}

{% block main %}
<form action="/editar/{{ tarefa.tar_id }}" method="post">
    <label for="titulo">Titulo:</label>
    <input required type="text" name="titulo" id="titulo" placeholder="Titulo *" value="{{ tarefa.tar_titulo }}">
    <label for="descricao">Descricao:</label>
    <textarea onkeyup="ajustarTamanho(this)" required type="text" name="descricao" id="descricao" placeholder="Descricao">{{ tarefa.tar_descricao }}</textarea>
    <label for="status">Status:</label>
    <select required name="status" id="status">
        {% if tarefa.tar_status == "Pendente" %}
            <option value="Pendente" selected>Pendente</option>
        {% else %}
            <option value="Pendente">Pendente</option>
        {% endif %}
        {% if tarefa.tar_status == "Em andamento" %}
            <option value="Em andamento" selected>Em andamento</option>
        {% else %}
            <option value="Em andamento">Em andamento</option>
        {% endif %}
        {% if tarefa.tar_status == "Concluído" %}
            <option value="Concluído" selected>Concluído</option>
        {% else %}
            <option value="Concluído">Concluído</option>
        {% endif %}
    </select>
    <input type="submit" value="Enviar">
</form>
{% endblock %}